// Specific CSS for your home-page
* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.audiowide {
  font-family: 'Audiowide';
}

.section-banner {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding-bottom: 0px;
}

.header {
  color: rgba(118,255,3,1);
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  border-radius: nullpx;
  font-family: Audiowide;
  font-weight: Regular;
  font-size: 75px;
  opacity: 1;
  margin-bottom: 0;
}

.tagline {
  color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.section-our-story {
  color: white;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(42px);
  border-radius: 16px;
  margin-top: 50px;
  height: 45vh;
  width: 50vw;
}

.join-now {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 60px;
  font-size: 24px;
  background: #76FF03;
  color: black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.section-sports {
  height: 130vh;
  width: 100vw;
}

.contains-search-btn {
  display: flex;
  justify-content: center;
}

.search-facilities-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.sports-3-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.sportcard {
  display: grid;
  grid-gap: 8px;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  // justify-content: center;
  // align-items: center;
  vertical-align: middle;
  height: 35vh;
  width: 28vw;
  }

.sports-header {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10vh;
}

.sports-header-text {
  font-family: Audiowide;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
}

.sports-cards-text {
  color: white;
  opacity: 1;
  font-size: 23px;
  font-family: Audiowide;
  font-weight: Regular;
  border: 0px;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 1px black;
}

.top-right {
  display: flex;
  height: 0;
  align-items: flex-start;
  justify-content: end;
  padding-right: 15px;
  padding-top: 15px;
  padding-left: 0;
  padding-bottom: 0;
  border: 0;
}

.center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-icon {
  color: rgba(118,255,3,1);
  display: flex;
  text-align: center;
  padding-top: 0;
  font-size: 25px;
  opacity: 0;
}

.clickable.active {
  color: inherit;
  border-color: inherit;
  .home-icon {
    opacity: 1;
    text-shadow: 1px 1px 1px black;
  }
  .sports-cards-text {
    color: rgba(118,255,3,1);
    font-size: 28px;
    text-shadow: 1px 1px 1px black;
  }
}

.sportcard {
  &:hover {
    color: inherit;
    border-color: inherit;
    .home-icon {
      opacity: 1;
      text-shadow: 1px 1px 1px black;
    }
    .sports-cards-text {
      color: rgba(118,255,3,1);
      font-size: 28px;
      text-shadow: 1px 1px 1px black;
    }
  }
}
