// Specific CSS for your home-page
* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.audiowide {
  font-family: 'Audiowide';
}

.section-banner {
  background-image: url(https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  // box-sizing: border-box;
  // box-sizing: content-box;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  height: 170vh;
  width: 100vw;
}

.header {
  color: rgba(118,255,3,1);
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  border-radius: nullpx;
  font-family: Audiowide;
  font-weight: Regular;
  font-size: 75px;
  opacity: 1;
  margin-bottom: 0;
}

.tagline {
  color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
}

.section-our-story {
  color: white;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(42px);
  border-radius: 16px;
  margin-top: 50px;
  height: 45vh;
  width: 50vw;
}

.join-now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 16px 0px;
  gap: 80px;
  height: 10vh;

  // position: absolute;
  // width: 1440px;
  // height: 72px;
  // left: 0px;
  // top: 1156px;
  font-size: 24px;
  background: #76FF03;
  }
