h1, h2, h3 {
  font-family: Audiowide;
}

body {
  background-color: black;
  color: white;
}

#booking-form form {
  width: 500px;
}

#sub-info {
  font-family: Audiowide;
}

#booking-form label {
  font-family: "Audiowide";
}

.input-date {
  color-scheme: dark;
}


#rating-form form {
  width: 500px;
}

#rating-info {
  font-family: Audiowide;
}

#rating-form label {
  font-family: "Audiowide";
}

.item-input:focus {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
