<!-- Footer -->
<footer class="text-center text-lg-start text-muted glass-card">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-1">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">

    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-2">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <!-- Grid column -->
        <!-- Grid column -->
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class=" px-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <p>© 2022 Copyright: <i class="fa-solid fa-dumbbell"></i> SPACE</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
