<div class="background" style="background-color: #5AFF72; color: black; font-family: Audiowide; font-size: 18px; border-radius:13px;">
<h2><%= facility.name %></h2>
<p><%= facility.address %></p>
</div>
