
<div id="video">
  <%= video_tag "NEW_CLIP.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "my_video" %>
</div>
<div class="container flex items-center justify-center min-h-screen move-down">
  <h1 class="text-center text-white">Facilities</h1>
    <%= render "facilities", facilities: @facilities %>
</div>
