<div id="video">
  <%= video_tag "NEW_CLIP.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "my_video" %>
</div>
<section class="section-banner">
  <p class="header">
    NEVER TRAIN IN A CROWDED PLACE AGAIN.
  </p>
  <p class="tagline">
    Join thousands of other Sport Enthusiasts at Space.
  </p>
</section>
  <div class="join-now">
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
  </div>
  <div class="div-story">
    <section class="container section-our-story">
      <div class="Story-header">
        <h2>
        Our Story
        </h2>
      </div>
      <div class="Story-body">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac dignissim ligula. Vestibulum vestibulum
        blandit ligula, vitae ullamcorper mi congue ac. Sed interdum nisl nunc, vitae ultrices nisl elementum pharetra.
        Proin facilisis, dui non luctus viverra, neque augue luctus erat, et molestie massa urna id orci. Phasellus feugiat
        egestas mauris in convallis. Sed aliquam neque at diam volutpat bibendum. Sed quis orci sodales, porttitor enim quis,
        molestie neque.
        </p>
      </div>
    </section>
  </div>




<div class="row justify-content-around sports-header">
  <div class="col sports-header-text">
    <p>Select your favorite sports</p>
  </div>
</div>

<section class="row Container section-sports" data-controller="selected">
  <%# #link to der die erstellte url beinhaltet%>
  <%# target das die url in query ändert (target in JS controller erstellen) %>
  <%# google re-direct to new url with click / redirect to another webpage %>
  <button class="my-3 glass-button" data-action="click->selected#sendOfParams">
      <p>Search Facilities</p>
  </button>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80)">
      <p class="sports-cards-text">Gym</p>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <p class="sports-cards-text">Bouldering</p>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">Climbing</p>
    </div>
  </div>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">Swimming</p>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">Tennis</p>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">Volleyball</p>
    </div>
  </div>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">MMA</p>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">Badminton</p>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">Kayaking</p>
    </div>
  </div>
</section>
