<div id="video">
  <%= video_tag "NEW_CLIP.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "my_video" %>
</div>
<section class="section-banner">
  <p class="header">
    NEVER TRAIN IN A CROWDED PLACE AGAIN.
  </p>
  <p class="tagline">
    Join thousands of other Sport Enthusiasts at Space.
  </p>
  <div class="div-story">
    <section class="container section-our-story">
      <div class="Story-header">
        <h2>
        Our Story
        </h2>
      </div>
      <div class="Story-body">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac dignissim ligula. Vestibulum vestibulum
        blandit ligula, vitae ullamcorper mi congue ac. Sed interdum nisl nunc, vitae ultrices nisl elementum pharetra.
        Proin facilisis, dui non luctus viverra, neque augue luctus erat, et molestie massa urna id orci. Phasellus feugiat
        egestas mauris in convallis. Sed aliquam neque at diam volutpat bibendum. Sed quis orci sodales, porttitor enim quis,
        molestie neque.
        </p>
      </div>
    </section>
  </div>
</section>

<div class="Container join-now Audiowide">
  <p> Join now</p>
  <p>-</p>
  <p>Join now</p>
  <p>-</p>
  <p>Join now</p>
  <p>-</p>
  <p>Join now</p>
  <p>-</p>
  <p>Join now </p>
</div>

<section class="row section-sports">
  <div class="col-md-12">
    <p>Select your favorite sports</p>
  </div>
  <div class="row sports-cards">
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
  </div>
</section>

<%# <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div> %>
