<section class="section-banner">
  <p class="header">
    NEVER TRAIN IN A CROWDED PLACE AGAIN.
  </p>
  <p class="tagline">
    Join thousands of other Sport Enthusiasts at Space.
  </p>
</section>

<div class="div-story">
  <section class="container section-our-story">
    <div class="Story-header">
      <h2>
      Our Story
      </h2>
    </div>
    <div class="Story-body">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac dignissim ligula. Vestibulum vestibulum
      blandit ligula, vitae ullamcorper mi congue ac. Sed interdum nisl nunc, vitae ultrices nisl elementum pharetra.
      Proin facilisis, dui non luctus viverra, neque augue luctus erat, et molestie massa urna id orci. Phasellus feugiat
      egestas mauris in convallis. Sed aliquam neque at diam volutpat bibendum. Sed quis orci sodales, porttitor enim quis,
      molestie neque.
      </p>
    </div>
  </section>
</div>

<section class="Container section-sports">
<div class="row">
    <div class="col">
    </div>
    <div class="col">
</section>
