<div id="video">
  <%= video_tag "home-4.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "my_video" %>
</div>
<section class="section-banner">
  <p class="header">
    NEVER TRAIN IN A CROWDED PLACE AGAIN.
  </p>
  <p class="tagline">
    Join thousands of other Sport Enthusiasts at Space.
  </p>
</section>
  <div class="join-now">
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
    <span class="audiowide">Join now</span>
    <span class="audiowide">  -  </span>
  </div>

<div class="row justify-content-around sports-header">
  <div class="col sports-header-text">
    <p>Select your favorite sports</p>
  </div>
</div>

<section class="row Container section-sports" data-controller="selected">
  <%# #link to der die erstellte url beinhaltet%>
  <%# target das die url in query ändert (target in JS controller erstellen) %>
  <%# google re-direct to new url with click / redirect to another webpage %>
  <div class="contains-search-btn">
    <button class="my-4 glass-button search-facilities-btn" data-action="click->selected#sendOfParams">
        <p>Search Facilities</p>
    </button>
  </div>

  <div class="sports-3-cards mt-2">
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-dumbbell'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Gym</p>
      </div>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1660755534223-cd6366896c17?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Ym91bGRlcmluZy1mYWNpdGlseXx8fHx8fDE2NjIxMTI2MDA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-mountain-sun'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Bouldering</p>
      </div>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1507034589631-9433cc6bc453?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2xpbWJpbmctZmFjaXRpbHl8fHx8fHwxNjYyMTEzMTI5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)">
      <div class="top-right">
      <i class='fa-solid home-icon fa-mountain-sun'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Climbing</p>
      </div>
    </div>
  </div>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1556191034-cbb6aa3cb008?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8c3dpbW1pbmctcG9vbHx8fHx8fDE2NjIxMTM0MjM&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-person-swimming'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Swimming</p>
      </div>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1587280501635-a19de238a81e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8dGVubmlzfHx8fHx8MTY2MjExMzgwNw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-table-tennis-paddle-ball'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Tennis</p>
      </div>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2807&q=80)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-volleyball'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Volleyball</p>
      </div>
    </div>
  </div>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1637974013743-82656f7c3f49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=648&q=80)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-hand-fist'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">MMA</p>
      </div>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1626224583764-f87db24ac4ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
      <div class="top-right">
        <i class='fa-solid home-icon fa-table-tennis-paddle-ball'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Badminton</p>
      </div>
    </div>
    <div class="col-md-4 sportcard clickable" data-action="click->selected#select" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1480480565647-1c4385c7c0bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80)">
      <div class="top-right">
        <i class='fa-solid  home-icon fa-table-tennis-paddle-ball'></i>
      </div>
      <div class="center">
        <p class="sports-cards-text">Kayaking</p>
      </div>
    </div>
  </div>
</section>
