<div id="video">
  <%= video_tag "NEW_CLIP.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "my_video" %>
</div>
<section class="section-banner">
  <p class="header">
    NEVER TRAIN IN A CROWDED PLACE AGAIN.
  </p>
  <p class="tagline">
    Join thousands of other Sport Enthusiasts at Space.
  </p>
  <div class="div-story">
    <section class="container section-our-story">
      <div class="Story-header">
        <h2>
        Our Story
        </h2>
      </div>
      <div class="Story-body">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac dignissim ligula. Vestibulum vestibulum
        blandit ligula, vitae ullamcorper mi congue ac. Sed interdum nisl nunc, vitae ultrices nisl elementum pharetra.
        Proin facilisis, dui non luctus viverra, neque augue luctus erat, et molestie massa urna id orci. Phasellus feugiat
        egestas mauris in convallis. Sed aliquam neque at diam volutpat bibendum. Sed quis orci sodales, porttitor enim quis,
        molestie neque.
        </p>
      </div>
    </section>
  </div>
</section>

<div class="Container join-now Audiowide">
  <p> Join now</p>
  <p>-</p>
  <p>Join now</p>
  <p>-</p>
  <p>Join now</p>
  <p>-</p>
  <p>Join now</p>
  <p>-</p>
  <p>Join now </p>
</div>

<div class="row justify-content-around sports-header">
  <div class="col sports-header-text">
    <p>Select your favorite sports</p>
  </div>
</div>

<section class="row Container section-sports">
  <div class="sports-3-cards">
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <p class="sports-cards-text">FITNESS</p>
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <p class="sports-cards-text">BOULDERN</p>
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">CLIMBING</p>
    </div>
  </div>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">SWIMMING</p>
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">TENNIS</p>
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">VOLLEYBALL</p>
    </div>
  </div>

  <div class="sports-3-cards">
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">MMA</p>
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">BADMINTON</p>
    </div>
    <div class="col-md-4 sportcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <p class="sports-cards-text">KAJAKING</p>
    </div>
  </div>
</section>
