.card {
  flex-direction: row;
  color: white;
  padding: 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}

.my_video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  object-fit: cover;
  top: 0;
  z-index: -2;
  opacity: 0.6;
 }

.card-footer {
  position: relative;
}
