.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.cards-frame{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking-card{
  width: 330px;
  background-color: white;
  border-radius: 1px;
  margin-right: 20px;
  margin-bottom: 425px;
}

.bg-booking{
  background-image: url(https://images.unsplash.com/photo-1660756238206-74d630bc00ad?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Ym91bGRlcmluZy1mYWNpdGlseXx8fHx8fDE2NjIxMTIzOTU&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-content{
  padding-left: 4px;
}

.h-400 {
  max-height: 270px;
}
 .card-new {
  width: 100%;
  height: 15vw;
  object-fit: cover;
 }
