.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h3 {
  font-family: "Audiowide"
}

.card-category p {
  font-size: 17px;
}
