.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h3 {
  font-family: "Audiowide";
  font-size: 42px;
}

.card-category p {
  font-family: "Audiowide";
  font-size: 16px;
}


.green-footer {
  color: rgba(118,255,3,1);
}

.small-pic {
  max-width: 200px;
  max-height: 200px;
}
