.glass-card {
  // background: rgba(255, 255, 255, 0.05);
  // background: none !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.05);
}
