.mapboxgl-popup {
  max-width: 200px;
  background: #37791e;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: #37791e !important;
  text-decoration-color: darkgreen;
  padding: 0px; 
}



.mapboxgl-marker {
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  border-top-left-radius: 50%;
  border: 2px gainsboro;
  cursor: pointer;
}

.adam  {
  background-color: green;
}
 